html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 100%;
}

/* HEADER */
.chatbot__header {
  background: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}

.chatbot__image--header {
  margin-right: 10px;
}

.chatbot__heading--header {
  font-size: 1.2rem;
  color: white;
}

.chatbot__description--header {
  font-size: .9rem;
  color: white;
  margin-bottom: 0;
}

/* Messages */
.chatbot__messages {
  padding: 0 20px;
  overflow-y: auto;
  height: calc(100% - 184px);
  width: 100%;
  position: relative;
  top: 100px;
}

.messages__item {
  margin-top: 10px;
  background: #E0E0E0;
  max-width: 70%;
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
  max-width: 60.6%;
  width: fit-content;
}

.messages__item--visitor,
.messages__item--typing {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.messages__item--visitor {
  margin-right: auto;
  margin-bottom: 10px;
}

.messages__item--operator {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 10px;
  background: #581B98;
  color: white;
  margin-left: auto;
}

/* FOOTER */
.chatbot__footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
  box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.chatbot__footer input {
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  width: auto;
}

.chatbot__send--footer {
  color: white;
  margin-bottom: 0;
  cursor: pointer;
}
