{% extends "base.html" %}
{% block title %}Perguntas{% endblock %}
{% block body %}
  <div class="container">
    <h2>{{title}}</h2>
    <form action="/perguntas/salvar-delecao/" method="POST" name="delete-question">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{question.id}}" />
      <input type="hidden" name="user_id" value="{{question.user.id}}" />
      <div class="form-group">
        <select class="form-control" name="code_relation" id="code_relation" disabled="true">
          <option value="0">Relação com a resposta anterior</option>
          {% for selection in all_options %}
            <option value="{{selection.code}}">{{selection.question}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="question">Pergunta:</label>
        <input
          class="form-control"
          type="text"
          name="question"
          id="question"
          value="{{question.question}}"
          disabled="true"
        />
      </div>
      <div class="form-group">
        <label for="answer">Resposta:</label>
        <textarea
          class="form-control"
          name="answer"
          id="answer"
          rows="5"
          spellcheck="false"
          disabled="true"
        >{{question.answer}}</textarea>
      </div>
      <a href="/perguntas/{{question.user.id}}/" class="btn btn-secondary" role="button">
        Cancelar
      </a>
      <button type="submit" class="btn btn-danger">Deletar</button>
    </form>
  </div>
{% endblock %}
{% block js %}
  <script>
    const $codeRelation = document.getElementById("code_relation");
    $codeRelation.value = "{{question.code_relation}}";
  </script>
{% endblock %}
