{% extends "base.html" %}
{% block title %}Perguntas{% endblock %}
{% block body %}
<div class="container">
  <h2>{{title}}</h2>
  <div style="overflow-y: scroll; height: 410px; width: 100%;" align="center">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Pergunta</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
          <tr>
            <td nowrap="true">{{question.id}}</td>
            <td nowrap="true">{{question.question}}</td>
            <td nowrap="true">
              <a href="/perguntas/editar-pergunta/{{question.id}}/" class="btn btn-primary" role="button">
                Editar
              </a>
              <a href="/perguntas/deletar-pergunta/{{question.id}}/" class="btn btn-danger" role="button">
                Deletar
              </a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="12">Não foi adicionado nenhuma pergunta até o momento.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
