{% extends "base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/balloons.css' %}" />
  <link rel="stylesheet" href="{% static 'css/chatbot.css' %}" />
{% endblock %}
{% block body %}
  <nav class="chatbot__header">
    <div class="chatbot__image--header">
      <img src="{% static 'img/theo.png' %}" alt="image" />
    </div>
    <div class="chatbot__content--header">
      <h4 class="chatbot__heading--header"> <span class="dot"></span>&nbsp;Theo online</h4>
      <p class="chatbot__description--header">
        Suporte 24 horas, tire suas dúvidas online de forma rápida
      </p>
    </div>
  </nav>
  <div class="chatbot__messages" id="msg">
    <div class="messages__item messages__item--visitor">
        Olá! eu sou o chatbot Theo, tudo bem?
    </div>
  </div>
  <div class="chatbot__footer">
    <img src="{% static 'icons/emojis.svg' %}" alt="" />
    <img src="{% static 'icons/microphone.svg' %}" alt="" />
    <input
      type="text"
      id="input"
      class="form-control"
      onkeypress="return Send(event)"
      placeholder="Digite a sua mensagem e tecle Enter..."
    />
    <p class="chatbot__send--footer" onclick="makeQuestion()">Enviar</p>

    <img src="{% static 'icons/attachment.svg' %}" alt="" />
  </div>
  <input type="hidden" id="protocol" value="{{protocol}}" />
  <input type="hidden" id="input_before_id" value="0" />
{% endblock %}
{% block js %}
  <script src="{% static 'js/chatbot.js' %}"></script>
{% endblock %}
