{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block nav %}
  <nav class="navbar navbar-expand-sm bg-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/login/">Login</a>
      </li>
    </ul>
  </nav>
{% endblock %}
{% block body %}
  <div class="container">
    <h1>{{title}}</h1>
    <p>Sua página inicial aqui!</p>
  </div>
{% endblock %}
